.App {
  padding: 36px;
  background-color: #fffff0;
}

.colors {
  display: flex;
}

.colors > .color {
  display: inline-flex;
  width: 10px;
  height: 100px;
}

.box-list {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  height: 150px;
}

.box-list > .box {
  display: inline-flex;
  width: 30px;
  height: 30px;
  border: 1px solid #dcdcdc;
  background-color: gray;
}